In [ ]:
import sys
print(sys.executable)

In [ ]:
import camelot
import pandas as pd
# Ler o PDF
tabelas = camelot.read_pdf("relatorio.pdf", pages="1", flavor="stream")

if tabelas.n > 0:
    df = tabelas[0].df


    df.columns = df.iloc[8]  
    df.drop(range(9), inplace=True)  

    # Dividir a coluna em novas colunas
    split_result = df["Início\nTérmino\nGuia TISS\nGuia\nNr.Conta\nAtendimento"].str.split("\n", expand=True)

    num_colunas = split_result.shape[1]
    novas_colunas = ["Início", "Término", "Guia TISS", "Guia", "Nr.Conta", "Atendimento"]

    
    for i in range(len(novas_colunas)):
        if i < num_colunas:  
            df[novas_colunas[i]] = split_result[i]
        else:
           
            df[novas_colunas[i]] = split_result[i-1]
            print(f"Aviso: A coluna '{novas_colunas[i]}' foi preenchida com valores nulos porque o split_result não tem coluna {i}.")

    # Remover a coluna original (opcional)
    df.drop("Início\nTérmino\nGuia TISS\nGuia\nNr.Conta\nAtendimento", axis=1, inplace=True)

    display(df)
else:
    print("Nenhuma tabela encontrada")


tabela2 = pd.DataFrame({
        "Atendimento": df["Atendimento"],  # Mapeia a coluna Atendimento
        "Guia": df["Guia"],  # Mapeia a coluna Guia
        "Origem": ["aaa"] ,  # Preenche com um valor padrão
        "Valor": df["Valor"]  # Preenche com um valor padrão
    })                     
display(tabela2)

In [ ]:
import camelot
import pandas as pd
# Ler o PDF
users = []
tabelas = camelot.read_pdf("relatorio.pdf", pages="1", flavor="stream")

if tabelas.n > 0:
    df = tabelas[0].df

    df.columns = df.iloc[8]  
    df.drop(range(9), inplace=True)  

    # Dividir a coluna em novas colunas
    display(df)

    df_strip = df["Início\nTérmino\nGuia TISS\nGuia\nNr.Conta\nAtendimento"].str.split("\n", expand=True)
    a = ["INICIO","TERMINO","GUIA TISS","Guia","Nr.Conta","ATENDIMENTO"]
    for x in range(len(a)):
          tabela2[novas_colunas[x]] = split_result[x]

    #Removendo as linhas que n precisam na Fusex
    tabela2[["INICIO","TERMINO"]] = tabela2["Início"].str.split(" ", expand=True)
    tabela2.drop("Início", axis=1, inplace=True)
    tabela2.drop("Término", axis=1, inplace=True)
    tabela2.drop(columns=[tabela2.columns[0]], inplace=True)
    tabela2.drop(columns=["Nova Coluna"], inplace=True)

    tabela2["Nome"] = df.iloc[:,1]
    tabela2["Origem"] = df.iloc[:,3]

    display(tabela2)
    # Iterando sobre a tabela2 nas colunas: Nome e Guia Tiss
    for indice,row in tabela2.iterrows():
         nome = row["Nome"]
         guia = row["Guia TISS"]

        
         encontrado = False
         for item in users:
              if item["nome"] == nome and item["guia"] == guia:
                   item["qtd"] += 1
                   encontrado = True
                   break
              
         if not encontrado:
              users.append({"nome": nome, "guia": guia, "qtd": 1})
print(users)

In [ ]:
import camelot,pandas as pd
# Ler o PDF 
# AAAAAAAAQUIIIIIIIIIIIIIIIIIIIIII KKKKKKKKKKKKKKKKK
#APENAS UMA PESSOA
users =  []
tabelas = camelot.read_pdf("relatorio.pdf", pages="1", flavor="stream")

tabela2 = pd.DataFrame({ })
if tabelas.n > 0:
    df = tabelas[0].df

    #Tabela com UMA pessoa apenas
    df.columns = df.iloc[8]  
    df.drop(range(9), inplace=True)  

    # Dividir a coluna em novas colunas
    display(df)

    df_strip = df["Início\nTérmino\nGuia TISS\nGuia\nNr.Conta\nAtendimento"].str.split("\n", expand=True)
    split_result = df["Início\nTérmino\nGuia TISS\nGuia\nNr.Conta\nAtendimento"].str.split("\n", expand=True)
    
    novas_colunas = ["Início", "Término", "Guia TISS", "Guia", "Nr.Conta", "Atendimento"]
    a = ["INICIO","TERMINO","GUIA TISS", "Nr.Conta", "ATENDIMENTO"]
    for x in range(5):
          tabela2[novas_colunas[x]] = split_result[x]

    tabela2[["INICIO","TERMINO"]] = tabela2["Início"].str.split(" ", expand=True)
    # Adicionando as colunas NOME E ORIGEM
    tabela2["Nome"] = df.iloc[:,1]
    tabela2["Origem"] = df.iloc[:,3]

    # Retirando as colunas que n vão na FUSEX
    tabela2.drop("Início", axis=1, inplace=True)
    tabela2.drop("Término", axis=1, inplace=True)

#     tabela2.drop(columns=[tabela2.columns[1]], inplace=True)
    
    display(tabela2)

for indice,row in tabela2.iterrows():
      nome = row["Nome"]
      guia = row["Guia TISS"]
      encontrado = False
      for item in users:
            if item["nome"] == nome and item["guia"] == guia:
                  item["qtd"] += 1
                  encontrado = True
                  break   
      if not encontrado:
            users.append({"nome": nome, "guia": guia, "qtd": 1})
display(users)

In [ ]:
#                   JUNTANDO OS DOISSSSSSSSSSSSSSSSSSSS

In [72]:
#                  EXCEL TUDO CERTOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO

import camelot
import pandas as pd
import numpy as np
from xlsxwriter import Workbook

#Relatorio MV com mais de 1 pessoa
# AAAAAAAAQUIIIIIIIIIIIIIIIIIIIIII KKKKKKKKKKKKKKKKK
#COM MAIS DE UMA PESSOA
# Ler o PDF
users = []
tabelas = camelot.read_pdf("relatorio3.pdf", pages="1", flavor="stream")
tabela_excel = pd.DataFrame({ })

if tabelas.n > 0:
    df = tabelas[0].df
    df.columns = df.iloc[7]  
    df.drop(range(8), inplace=True) 
    
    # Exibir a tabela original
    display(df)
    try:
        tabela_excel["Nome"] = df["Atendimento"].str[7:]
        # Verifica se o indice 2 esta vazio, se tiver, as Guias estão no indice 1, se não, no indice 2.
        tabela_excel["Guia"] = np.where(
            (df.iloc[:,2].isna()) | (df.iloc[:, 2] == ""),
            df.iloc[:, 1],
            df.iloc[:, 2]
        )
        tabela_excel["Valor"] = df.iloc[:,-1]
        #exibindo tabela modificada
        display(tabela_excel)

        #Separando as colunas necessarias 
        for indice,row in tabela_excel.iterrows():
            nome = row["Nome"]
            guia = row["Guia"]
            valor = row["Valor"].replace(".", "")
            numero = float(valor.replace(",","."))
            encontrado = False
            for item in users:
                if item["NOME DO PACIENTE"] == nome and item["N Guia"] == guia:
                    item["QTD"] += 1
                    item["VALOR"] += numero
                    encontrado = True
                    break   
            if not encontrado:
                users.append({ "N Guia": guia,"NOME DO PACIENTE": nome, "QTD": 1, "VALOR": numero})
        
    except Exception as erro:
         print("Não foi possivel converter a tabela")

else:
    print("Nenhuma tabela encontrada")

display(users)

escrever = pd.ExcelWriter('test.xlsx', engine='xlsxwriter')
pd.DataFrame(users).to_excel(escrever, sheet_name='FUSEX',index=False)
escrever.close()

7,Início\nTérmino,Guia TISS,,Guia,,Nr.Conta,Atendimento,Origem,Valor
8,17/01/2025 17/01/2025,,1387,,1387,236048,235006\nDIMAS DANUBIO DANTAS,HMSF INTERNADOS,"442,05"
9,17/01/2025 17/01/2025,,1387,,1387,236094,235047\nDIMAS DANUBIO DANTAS,HMSF INTERNADOS,"40,02"
10,18/01/2025 18/01/2025,,1387,,1387,236245,235179\nDIMAS DANUBIO DANTAS,HMSF INTERNADOS,"577,91"
11,27/01/2025 27/01/2025,,2302,,2302,238489,237142\nFERNANDO MASSULO AGUIAR,HMSF INTERNADOS,"356,98"
12,28/01/2025 28/01/2025,,2302,,2302,239005,237600\nFERNANDO MASSULO AGUIAR,HMSF INTERNADOS,"40,02"
13,08/02/2025 08/02/2025,,2891,,2891,241890,240197\nLOURIVAL DE MOURA FILHO,HMSF INTERNADOS,"401,08"
14,30/01/2025 30/01/2025,,2315,,2315,239449,238002\nLOURIVAL GENTIL DA SILVA,HMSF INTERNADOS,"356,98"
15,30/01/2025 30/01/2025,,2315,,2315,239450,238003\nLOURIVAL GENTIL DA SILVA,HMSF INTERNADOS,"40,02"
16,02/02/2025 02/02/2025,,2315,,2315,240231,238708\nLOURIVAL GENTIL DA SILVA,HMSF INTERNADOS,"40,02"
17,29/01/2025 29/01/2025,,2893,,2893,239283,237862\nLOURIVAL GENTIL DA SILVA,HMSF INTERNADOS,"40,02"
18,31/01/2025 31/01/2025,,2893,,2893,239762,238304\nLOURIVAL GENTIL DA SILVA,HMSF INTERNADOS,"40,02"
19,01/02/2025 01/02/2025,,2893,,2893,240025,238544\nLOURIVAL GENTIL DA SILVA,HMSF INTERNADOS,"40,02"
20,03/02/2025 03/02/2025,,2893,,2893,240594,239030\nLOURIVAL GENTIL DA SILVA,HMSF INTERNADOS,"40,02"
21,04/02/2025 04/02/2025,,2879,,2879,240881,239302\nLUCEMAR GOMES DE ALMEIDA,HMSF INTERNADOS,"442,05"
22,04/02/2025 04/02/2025,,2879,,2879,240882,239303\nLUCEMAR GOMES DE ALMEIDA,HMSF INTERNADOS,"505,65"
23,06/02/2025 06/02/2025,,2879,,2879,241400,239756\nLUCEMAR GOMES DE ALMEIDA,HMSF INTERNADOS,"40,02"
24,01/02/2025 01/02/2025,,2888,,2888,240200,238680\nMANUELLA BEZERRA DE ANDRADE NA,HMSF INTERNADOS,"442,05"
25,08/02/2025 08/02/2025,,2885,,2885,241872,240184\nMARIA ARTHEMIS AMARAL DA SILVA,RECEPCAO IMAGE,"40,02"
26,10/02/2025 10/02/2025,,2874,,2874,242310,240548\nREINALDO SOARES FINIZOLA,HMSF INTERNADOS,"779,27"
27,26/01/2025 26/01/2025,,2299,,2299,238434,237093\nSEBASTIAO JORGE DA SILVA,HMSF INTERNADOS,"779,27"
28,,,,,,,Total :,20,"5.483,49"
29,,,,,,,Total Geral :,20,"5.483,49"

                              Nome  Guia     Valor
8             DIMAS DANUBIO DANTAS  1387    442,05
9             DIMAS DANUBIO DANTAS  1387     40,02
10            DIMAS DANUBIO DANTAS  1387    577,91
11         FERNANDO MASSULO AGUIAR  2302    356,98
12         FERNANDO MASSULO AGUIAR  2302     40,02
13         LOURIVAL DE MOURA FILHO  2891    401,08
14        LOURIVAL GENTIL DA SILVA  2315    356,98
15        LOURIVAL GENTIL DA SILVA  2315     40,02
16        LOURIVAL GENTIL DA SILVA  2315     40,02
17        LOURIVAL GENTIL DA SILVA  2893     40,02
18        LOURIVAL GENTIL DA SILVA  2893     40,02
19        LOURIVAL GENTIL DA SILVA  2893     40,02
20        LOURIVAL GENTIL DA SILVA  2893     40,02
21        LUCEMAR GOMES DE ALMEIDA  2879    442,05
22        LUCEMAR GOMES DE ALMEIDA  2879    505,65
23        LUCEMAR GOMES DE ALMEIDA  2879     40,02
24  MANUELLA BEZERRA DE ANDRADE NA  2888    442,05
25  MARIA ARTHEMIS AMARAL DA SILVA  2885     40,02
26        REINALDO SOARES FINIZOLA  2874    779,27
27        SEBASTIAO JORGE DA SILVA  2299    779,27
28                                        5.483,49
29                          eral :        5.483,49

[{'N Guia': '1387',
  'NOME DO PACIENTE': 'DIMAS DANUBIO DANTAS',
  'QTD': 3,
  'VALOR': 1059.98},
 {'N Guia': '2302',
  'NOME DO PACIENTE': 'FERNANDO MASSULO AGUIAR',
  'QTD': 2,
  'VALOR': 397.0},
 {'N Guia': '2891',
  'NOME DO PACIENTE': 'LOURIVAL DE MOURA FILHO',
  'QTD': 1,
  'VALOR': 401.08},
 {'N Guia': '2315',
  'NOME DO PACIENTE': 'LOURIVAL GENTIL DA SILVA',
  'QTD': 3,
  'VALOR': 437.02},
 {'N Guia': '2893',
  'NOME DO PACIENTE': 'LOURIVAL GENTIL DA SILVA',
  'QTD': 4,
  'VALOR': 160.08},
 {'N Guia': '2879',
  'NOME DO PACIENTE': 'LUCEMAR GOMES DE ALMEIDA',
  'QTD': 3,
  'VALOR': 987.72},
 {'N Guia': '2888',
  'NOME DO PACIENTE': 'MANUELLA BEZERRA DE ANDRADE NA',
  'QTD': 1,
  'VALOR': 442.05},
 {'N Guia': '2885',
  'NOME DO PACIENTE': 'MARIA ARTHEMIS AMARAL DA SILVA',
  'QTD': 1,
  'VALOR': 40.02},
 {'N Guia': '2874',
  'NOME DO PACIENTE': 'REINALDO SOARES FINIZOLA',
  'QTD': 1,
  'VALOR': 779.27},
 {'N Guia': '2299',
  'NOME DO PACIENTE': 'SEBASTIAO JORGE DA SILVA',
  'QTD': 1,
  'VALOR': 779.27},
 {'N Guia': '', 'NOME DO PACIENTE': '', 'QTD': 1, 'VALOR': 5483.49},
 {'N Guia': '', 'NOME DO PACIENTE': 'eral :', 'QTD': 1, 'VALOR': 5483.49}]