In [ ]:
import sys
print(sys.executable)

In [ ]:
import camelot
import pandas as pd
# Ler o PDF
tabelas = camelot.read_pdf("relatorio.pdf", pages="1", flavor="stream")

if tabelas.n > 0:
    df = tabelas[0].df


    df.columns = df.iloc[8]  
    df.drop(range(9), inplace=True)  

    # Dividir a coluna em novas colunas
    split_result = df["Início\nTérmino\nGuia TISS\nGuia\nNr.Conta\nAtendimento"].str.split("\n", expand=True)

    num_colunas = split_result.shape[1]
    novas_colunas = ["Início", "Término", "Guia TISS", "Guia", "Nr.Conta", "Atendimento"]

    
    for i in range(len(novas_colunas)):
        if i < num_colunas:  
            df[novas_colunas[i]] = split_result[i]
        else:
           
            df[novas_colunas[i]] = split_result[i-1]
            print(f"Aviso: A coluna '{novas_colunas[i]}' foi preenchida com valores nulos porque o split_result não tem coluna {i}.")

    # Remover a coluna original (opcional)
    df.drop("Início\nTérmino\nGuia TISS\nGuia\nNr.Conta\nAtendimento", axis=1, inplace=True)

    display(df)
else:
    print("Nenhuma tabela encontrada")


tabela2 = pd.DataFrame({
        "Atendimento": df["Atendimento"],  # Mapeia a coluna Atendimento
        "Guia": df["Guia"],  # Mapeia a coluna Guia
        "Origem": ["aaa"] ,  # Preenche com um valor padrão
        "Valor": df["Valor"]  # Preenche com um valor padrão
    })                     
display(tabela2)

In [ ]:
import camelot
import pandas as pd
# Ler o PDF
users = []
tabelas = camelot.read_pdf("relatorio.pdf", pages="1", flavor="stream")

if tabelas.n > 0:
    df = tabelas[0].df

    df.columns = df.iloc[8]  
    df.drop(range(9), inplace=True)  

    # Dividir a coluna em novas colunas
    display(df)

    df_strip = df["Início\nTérmino\nGuia TISS\nGuia\nNr.Conta\nAtendimento"].str.split("\n", expand=True)
    a = ["INICIO","TERMINO","GUIA TISS","Guia","Nr.Conta","ATENDIMENTO"]
    for x in range(len(a)):
          tabela2[novas_colunas[x]] = split_result[x]

    #Removendo as linhas que n precisam na Fusex
    tabela2[["INICIO","TERMINO"]] = tabela2["Início"].str.split(" ", expand=True)
    tabela2.drop("Início", axis=1, inplace=True)
    tabela2.drop("Término", axis=1, inplace=True)
    tabela2.drop(columns=[tabela2.columns[0]], inplace=True)
    tabela2.drop(columns=["Nova Coluna"], inplace=True)

    tabela2["Nome"] = df.iloc[:,1]
    tabela2["Origem"] = df.iloc[:,3]

    display(tabela2)
    # Iterando sobre a tabela2 nas colunas: Nome e Guia Tiss
    for indice,row in tabela2.iterrows():
         nome = row["Nome"]
         guia = row["Guia TISS"]

        
         encontrado = False
         for item in users:
              if item["nome"] == nome and item["guia"] == guia:
                   item["qtd"] += 1
                   encontrado = True
                   break
              
         if not encontrado:
              users.append({"nome": nome, "guia": guia, "qtd": 1})
print(users)

In [ ]:
import camelot,pandas as pd
# Ler o PDF 
# AAAAAAAAQUIIIIIIIIIIIIIIIIIIIIII KKKKKKKKKKKKKKKKK
#APENAS UMA PESSOA
users =  []
tabelas = camelot.read_pdf("relatorio.pdf", pages="1", flavor="stream")

if tabelas.n > 0:
    df = tabelas[0].df

    #Tabela com UMA pessoa apenas
    df.columns = df.iloc[8]  
    df.drop(range(9), inplace=True)  

    # Dividir a coluna em novas colunas
    display(df)

    df_strip = df["Início\nTérmino\nGuia TISS\nGuia\nNr.Conta\nAtendimento"].str.split("\n", expand=True)
    a = ["INICIO","TERMINO","GUIA TISS", "Nr.Conta", "ATENDIMENTO"]
    for x in range(len(a)):
          tabela2[novas_colunas[x]] = split_result[x]

    tabela2[["INICIO","TERMINO"]] = tabela2["Início"].str.split(" ", expand=True)
    # Adicionando as colunas NOME E ORIGEM
    tabela2["Nome"] = df.iloc[:,1]
    tabela2["Origem"] = df.iloc[:,3]

    # Retirando as colunas que n vão na FUSEX
    tabela2.drop("Início", axis=1, inplace=True)
    tabela2.drop("Término", axis=1, inplace=True)

#     tabela2.drop(columns=[tabela2.columns[1]], inplace=True)
    
    display(tabela2)

for indice,row in tabela2.iterrows():
      nome = row["Nome"]
      guia = row["Guia TISS"]
      encontrado = False
      for item in users:
            if item["nome"] == nome and item["guia"] == guia:
                  item["qtd"] += 1
                  encontrado = True
                  break   
      if not encontrado:
            users.append({"nome": nome, "guia": guia, "qtd": 1})
print(users)

In [48]:
import camelot
import pandas as pd
import numpy as np
#Relatorio MV com mais de 1 pessoa
# AAAAAAAAQUIIIIIIIIIIIIIIIIIIIIII KKKKKKKKKKKKKKKKK
#COM MAIS DE UMA PESSOA
# Ler o PDF
users = []
tabelas = camelot.read_pdf("relatorio2.pdf", pages="1", flavor="stream")
tabela3 = pd.DataFrame({ })

if tabelas.n > 0:
    df = tabelas[0].df
    df.columns = df.iloc[7]  
    df.drop(range(8), inplace=True) 
    
    # Exibir a tabela original
    display(df)
    try:
        tabela3["Nome"] = df["Atendimento"].str[7:]
        # Verifica se o indice 2 esta vazio, se tiver, as Guias estão no indice 1, se não, no indice 2.
        tabela3["Guia"] = np.where(
            (df.iloc[:,2].isna()) | (df.iloc[:, 2] == ""),
            df.iloc[:, 1],
            df.iloc[:, 2]
        )
        tabela3["Valor"] = df.iloc[:,-1]
        #exibindo tabela modificada
        display(tabela3)

        #Separando as colunas necessarias 
        for indice,row in tabela3.iterrows():
            nome = row["Nome"]
            guia = row["Guia"]
            valor = float(row["Valor"])
            encontrado = False
            for item in users:
                if item["nome"] == nome and item["guia"] == guia:
                    item["qtd"] += 1
                    item["valor"] += valor
                    encontrado = True
                    break   
            if not encontrado:
                    users.append({"nome": nome, "guia": guia, "qtd": 1, "valor": valor})
            
    except Exception as erro:
         print("Não foi possivel converter a tabela")

else:
    print("Nenhuma tabela encontrada")

print(users)

7,Início\nTérmino,Guia TISS,Guia,,Nr.Conta,Atendimento,Origem,Valor
8,18/11/2024 18/11/2024,23364,,23364,220518,221681\nMARIA DO SOCORRO FERREIRA DE CA,HMSF INTERNADOS,"49,68"
9,20/11/2024 20/11/2024,23364,,23364,221138,222254\nMARIA DO SOCORRO FERREIRA DE CA,HMSF INTERNADOS,"356,98"
10,03/12/2024 03/12/2024,23364,,23364,224197,224913\nMARIA DO SOCORRO FERREIRA DE CA,HMSF INTERNADOS,"40,02"
11,23/01/2025 23/01/2025,1353,,1353,237701,236447\nMARIA JOSE DOS SANTOS,RECEPCAO IMAGE,"1.105,65"
12,31/12/2024 31/12/2024,24179,,24179,231399,231068\nMARIA JOSE DOS SANTOS,RECEPCAO IMAGE,"505,65"
13,13/01/2025 13/01/2025,1241,,1241,234636,233754\nMATILDES MEIRA MORAIS,HMSF INTERNADOS,"815,09"
14,13/01/2025 13/01/2025,1241,,1241,234658,233783\nMATILDES MEIRA MORAIS,HMSF INTERNADOS,"356,98"
15,13/01/2025 13/01/2025,1241,,1241,234661,233785\nMATILDES MEIRA MORAIS,HMSF INTERNADOS,"40,02"
16,13/01/2025 13/01/2025,1241,,1241,234706,233822\nMATILDES MEIRA MORAIS,HMSF INTERNADOS,"625,16"
17,15/01/2025 15/01/2025,1241,,1241,235298,234342\nMATILDES MEIRA MORAIS,HMSF INTERNADOS,"1.857,57"
18,13/01/2025 13/01/2025,1383,,1383,234629,233748\nMATILDES MEIRA MORAIS,HMSF INTERNADOS,"40,02"
19,,,,,,Total :,11,"5.792,82"
20,,,,,,Total Geral :,11,"5.792,82"

                               Nome   Guia     Valor
8   MARIA DO SOCORRO FERREIRA DE CA  23364     49,68
9   MARIA DO SOCORRO FERREIRA DE CA  23364    356,98
10  MARIA DO SOCORRO FERREIRA DE CA  23364     40,02
11            MARIA JOSE DOS SANTOS   1353  1.105,65
12            MARIA JOSE DOS SANTOS  24179    505,65
13            MATILDES MEIRA MORAIS   1241    815,09
14            MATILDES MEIRA MORAIS   1241    356,98
15            MATILDES MEIRA MORAIS   1241     40,02
16            MATILDES MEIRA MORAIS   1241    625,16
17            MATILDES MEIRA MORAIS   1241  1.857,57
18            MATILDES MEIRA MORAIS   1383     40,02
19                                          5.792,82
20                           eral :         5.792,82

Não foi possivel converter a tabela
[]