In [ ]:
import sys
print(sys.executable)

In [ ]:
import camelot
import pandas as pd
# Ler o PDF
tabelas = camelot.read_pdf("relatorio.pdf", pages="1", flavor="stream")

if tabelas.n > 0:
    df = tabelas[0].df


    df.columns = df.iloc[8]  
    df.drop(range(9), inplace=True)  

    # Dividir a coluna em novas colunas
    split_result = df["Início\nTérmino\nGuia TISS\nGuia\nNr.Conta\nAtendimento"].str.split("\n", expand=True)

    num_colunas = split_result.shape[1]
    novas_colunas = ["Início", "Término", "Guia TISS", "Guia", "Nr.Conta", "Atendimento"]

    
    for i in range(len(novas_colunas)):
        if i < num_colunas:  
            df[novas_colunas[i]] = split_result[i]
        else:
           
            df[novas_colunas[i]] = split_result[i-1]
            print(f"Aviso: A coluna '{novas_colunas[i]}' foi preenchida com valores nulos porque o split_result não tem coluna {i}.")

    # Remover a coluna original (opcional)
    df.drop("Início\nTérmino\nGuia TISS\nGuia\nNr.Conta\nAtendimento", axis=1, inplace=True)

    display(df)
else:
    print("Nenhuma tabela encontrada")


tabela2 = pd.DataFrame({
        "Atendimento": df["Atendimento"],  # Mapeia a coluna Atendimento
        "Guia": df["Guia"],  # Mapeia a coluna Guia
        "Origem": df[""] ,  # Preenche com um valor padrão
        "Valor": df["Valor"]  # Preenche com um valor padrão
    })                     
display(tabela2)

In [ ]:
import camelot
import pandas as pd
# Ler o PDF
tabelas = camelot.read_pdf("relatorio.pdf", pages="1", flavor="stream")

if tabelas.n > 0:
    df = tabelas[0].df


    df.columns = df.iloc[8]  
    df.drop(range(9), inplace=True)  

    # Dividir a coluna em novas colunas
    display(df)

    df_strip = df["Início\nTérmino\nGuia TISS\nGuia\nNr.Conta\nAtendimento"].str.split("\n", expand=True)
    a = ["INICIO","TERMINO","GUIA TISS", "Nr.Conta", "ATENDIMENTO"]
    for x in range(len(a)):
          tabela2[novas_colunas[x]] = split_result[x]

    tabela2[["INICIO","TERMINO"]] = tabela2["Início"].str.split(" ", expand=True)
    tabela2.drop("Início", axis=1, inplace=True)

    display(tabela2)

In [ ]:
import camelot
import pandas as pd
# Ler o PDF
tabelas = camelot.read_pdf("relatorio.pdf", pages="1", flavor="stream")

if tabelas.n > 0:
    df = tabelas[0].df


    df.columns = df.iloc[8]  
    df.drop(range(9), inplace=True)  

    # Dividir a coluna em novas colunas
    display(df)

    df_strip = df["Início\nTérmino\nGuia TISS\nGuia\nNr.Conta\nAtendimento"].str.split("\n", expand=True)
    a = ["INICIO","TERMINO","GUIA TISS", "Nr.Conta", "ATENDIMENTO"]
    for x in range(len(a)):
          tabela2[novas_colunas[x]] = split_result[x]

    tabela2[["INICIO","TERMINO"]] = tabela2["Início"].str.split(" ", expand=True)
    tabela2.drop("Início", axis=1, inplace=True)
    tabela2.drop("Término", axis=1, inplace=True)
  

    tabela2["Nome"] = df.iloc[:,1]
    tabela2["Origem"] = df.iloc[:,3]

    display(tabela2)

8,Início\nTérmino\nGuia TISS\nGuia\nNr.Conta\nAtendimento,,Origem,,Valor
9,16/01/2025 16/01/2025\n1397\n1397\n235632\n234627,REGINA CELY SILVA DE OLIVEIRA XAVI,,HMSF INTERNADOS,"1.857,57"
10,,,Total :\n1,,"1.857,57"
11,,,Total Geral :\n1,,"1.857,57"
12,,CENTRO DE DIAG MEMORIAL MARIE CURIE,,,

,Atendimento,Guia,Valor,Guia TISS,Nr.Conta,"(0, 1)",0,1,INICIO,TERMINO,Nome,Origem
9,234627,235632,"1.857,57",1397,234627,"[, 1, 6, /, 0, 1, /, 2, 0, 2, 5, , 1, 6, /, 0...",16/01/2025,16/01/2025,16/01/2025,16/01/2025,REGINA CELY SILVA DE OLIVEIRA XAVI,HMSF INTERNADOS
10,None,None,"1.857,57",None,None,"[, ]",,None,,None,,
11,None,None,"1.857,57",None,None,"[, ]",,None,,None,,
12,None,None,,None,None,"[, ]",,None,,None,CENTRO DE DIAG MEMORIAL MARIE CURIE,

0{"name":"KeyError","message":"'cdec0939-bfea-4f51-8c18-a5b5eb9f58d7'","stack":"Traceback \u001b[1;36m(most recent call last)\u001b[0m:\n\u001b[0m  File \u001b[0;32m<string>:156\u001b[0m in \u001b[0;35m__DW_DEBUG_WRAPPER__\u001b[0m\n\u001b[1;36m  File \u001b[1;32m<string>:145\u001b[1;36m in \u001b[1;35m__DW_GET_EXPRESSION_VARIABLE__\u001b[1;36m\n\u001b[1;31mKeyError\u001b[0m\u001b[1;31m:\u001b[0m 'cdec0939-bfea-4f51-8c18-a5b5eb9f58d7'\n"}
0{"name":"KeyError","message":"'529cb576-25e9-48d4-8f97-4fe9905eabf2'","stack":"Traceback \u001b[1;36m(most recent call last)\u001b[0m:\n\u001b[0m  File \u001b[0;32m<string>:156\u001b[0m in \u001b[0;35m__DW_DEBUG_WRAPPER__\u001b[0m\n\u001b[1;36m  File \u001b[1;32m<string>:145\u001b[1;36m in \u001b[1;35m__DW_GET_EXPRESSION_VARIABLE__\u001b[1;36m\n\u001b[1;31mKeyError\u001b[0m\u001b[1;31m:\u001b[0m '529cb576-25e9-48d4-8f97-4fe9905eabf2'\n"}