In [ ]:
import sys
print(sys.executable)

In [ ]:
import camelot

tabelas = camelot.read_pdf("relatorio.pdf", pages= "1", flavor="stream")

print("Tabela Formatada")
if tabelas.n > 0:
    df = tabelas[0].df

    df.columns = df.iloc[8]
    df = df[9::]

    display(df)
else:
    print("Nenhuma tabela encontrada")

In [ ]:
# import camelot

# tabelas = camelot.read_pdf("relatorio.pdf", pages="1", flavor="stream")

# if tabelas.n > 0:
#     df = tabelas[0].df
#     df.columns = df.iloc[8] 
#     df.drop(range(9), inplace=True)
#     display(df)
#     df_strip= df["Início\nTérmino\nGuia TISS\nGuia\nNr.Conta\nAtendimento"].str.split("\n",expand=True)
#     if df_strip.shape[1] == 6:
#         novas_colunas = ["Inicio", "Termino", "Guia TSS", "Guia", "Nr.Conta", "Atendimento", "Origem", "Valor"]
#         for i, nome in (enumerate(novas_colunas)):
#             df[nome] = df_strip[1]
        
#         df.drop("Início\nTérmino\nGuia TISS\nGuia\nNr.Conta\nAtendimento", axis=1, inplace=True)
#         display(df)
#     else:
#         print("Os numeros de colunas n é compativel com o tamanho determinado")

# else:
#     print("Não ha tabelas no doc")

In [93]:
import camelot

# Ler o PDF
tabelas = camelot.read_pdf("relatorio.pdf", pages="1", flavor="stream")

if tabelas.n > 0:
    df = tabelas[0].df

    # Definir os cabeçalhos corretos
    df.columns = df.iloc[8]  # Supondo que a linha 8 contém os cabeçalhos
    df.drop(range(9), inplace=True)  # Remove as primeiras 9 linhas

    # Dividir a coluna em novas colunas
    split_result = df["Início\nTérmino\nGuia TISS\nGuia\nNr.Conta\nAtendimento"].str.split("\n", expand=True)

    # Verificar quantas colunas foram geradas
    num_colunas = split_result.shape[1]
    novas_colunas = ["Início", "Término", "Guia TISS", "Guia", "Nr.Conta", "Atendimento"]

    # Adicionar apenas as colunas que existem no split_result
    for i in range(len(novas_colunas)):
        if i < num_colunas:  # Verifica se a coluna existe no split_result
            df[novas_colunas[i]] = split_result[i]
        else:
            # Se a coluna não existir, preencha com um valor padrão (ex: None)
            df[novas_colunas[i]] = None
            print(f"Aviso: A coluna '{novas_colunas[i]}' foi preenchida com valores nulos porque o split_result não tem coluna {i}.")

    # Remover a coluna original (opcional)
    df.drop("Início\nTérmino\nGuia TISS\nGuia\nNr.Conta\nAtendimento", axis=1, inplace=True)

    display(df)
else:
    print("Nenhuma tabela encontrada")

Aviso: A coluna 'Atendimento' foi preenchida com valores nulos porque o split_result não tem coluna 5.

8,,Origem,,Valor,Início,Término,Guia TISS,Guia,Nr.Conta,Atendimento
9,REGINA CELY SILVA DE OLIVEIRA XAVI,,HMSF INTERNADOS,"1.857,57",16/01/2025 16/01/2025,1397,1397,235632,234627,None
10,,Total :\n1,,"1.857,57",,None,None,None,None,None
11,,Total Geral :\n1,,"1.857,57",,None,None,None,None,None
12,CENTRO DE DIAG MEMORIAL MARIE CURIE,,,,,None,None,None,None,None

In [94]:
import camelot
tabelas = camelot.read_pdf("relatorio.pdf", pages="1", flavor="stream")

if tabelas.n > 0:
    df = tabelas[0].df

    # Definir os cabeçalhos corretos
    df.columns = df.iloc[8]  # Supondo que a linha 8 contém os cabeçalhos
    df.drop(range(9), inplace=True)  # Remove as primeiras 9 linhas

    # Dividir a coluna em novas colunas
    split_result = df["Início\nTérmino\nGuia TISS\nGuia\nNr.Conta\nAtendimento"].str.split("\n", expand=True)
    num_colunas = split_result.shape[1]
    novas_colunas = ["Início", "Término", "Guia TISS", "Guia", "Nr.Conta", "Atendimento"]

    for i in range(len(novas_colunas)):
        try:
            if i < len(novas_colunas):
                df[novas_colunas[i]] = split_result[i]
            else:
             print(f"Aviso: A coluna '{novas_colunas[i]}' não foi criada porque o split_result não tem coluna {i}.")
        except Exception as erro:
            df[novas_colunas[i]] = ["Atendimento"] 
        
        # df.drop("Início\nTérmino\nGuia TISS\nGuia\nNr.Conta\nAtendimento", axis=0, inplace=True)
        
        display(df)
    else:
        print(f"Erro: A coluna foi dividida em {split_result.shape[1]} partes, mas esperava-se 6.")
else:
    print("Nenhuma tabela encontrada")

8,Início\nTérmino\nGuia TISS\nGuia\nNr.Conta\nAtendimento,,Origem,,Valor,Início
9,16/01/2025 16/01/2025\n1397\n1397\n235632\n234627,REGINA CELY SILVA DE OLIVEIRA XAVI,,HMSF INTERNADOS,"1.857,57",16/01/2025 16/01/2025
10,,,Total :\n1,,"1.857,57",
11,,,Total Geral :\n1,,"1.857,57",
12,,CENTRO DE DIAG MEMORIAL MARIE CURIE,,,,

8,Início\nTérmino\nGuia TISS\nGuia\nNr.Conta\nAtendimento,,Origem,,Valor,Início,Término
9,16/01/2025 16/01/2025\n1397\n1397\n235632\n234627,REGINA CELY SILVA DE OLIVEIRA XAVI,,HMSF INTERNADOS,"1.857,57",16/01/2025 16/01/2025,1397
10,,,Total :\n1,,"1.857,57",,None
11,,,Total Geral :\n1,,"1.857,57",,None
12,,CENTRO DE DIAG MEMORIAL MARIE CURIE,,,,,None

8,Início\nTérmino\nGuia TISS\nGuia\nNr.Conta\nAtendimento,,Origem,,Valor,Início,Término,Guia TISS
9,16/01/2025 16/01/2025\n1397\n1397\n235632\n234627,REGINA CELY SILVA DE OLIVEIRA XAVI,,HMSF INTERNADOS,"1.857,57",16/01/2025 16/01/2025,1397,1397
10,,,Total :\n1,,"1.857,57",,None,None
11,,,Total Geral :\n1,,"1.857,57",,None,None
12,,CENTRO DE DIAG MEMORIAL MARIE CURIE,,,,,None,None

8,Início\nTérmino\nGuia TISS\nGuia\nNr.Conta\nAtendimento,,Origem,,Valor,Início,Término,Guia TISS,Guia
9,16/01/2025 16/01/2025\n1397\n1397\n235632\n234627,REGINA CELY SILVA DE OLIVEIRA XAVI,,HMSF INTERNADOS,"1.857,57",16/01/2025 16/01/2025,1397,1397,235632
10,,,Total :\n1,,"1.857,57",,None,None,None
11,,,Total Geral :\n1,,"1.857,57",,None,None,None
12,,CENTRO DE DIAG MEMORIAL MARIE CURIE,,,,,None,None,None

8,Início\nTérmino\nGuia TISS\nGuia\nNr.Conta\nAtendimento,,Origem,,Valor,Início,Término,Guia TISS,Guia,Nr.Conta
9,16/01/2025 16/01/2025\n1397\n1397\n235632\n234627,REGINA CELY SILVA DE OLIVEIRA XAVI,,HMSF INTERNADOS,"1.857,57",16/01/2025 16/01/2025,1397,1397,235632,234627
10,,,Total :\n1,,"1.857,57",,None,None,None,None
11,,,Total Geral :\n1,,"1.857,57",,None,None,None,None
12,,CENTRO DE DIAG MEMORIAL MARIE CURIE,,,,,None,None,None,None

ValueError: Length of values (1) does not match length of index (4)